.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background-color: rgb(121 118 118);
  border: 1px solid black;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #a5a3a3;
  border: 1px solid rgb(0 0 0);
}

.mineBoard {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background: url('~/src/assets/images/image.png') no-repeat;
  border: 1px solid black;
}

.coverCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/imageCell.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mine {
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -300px 0; /* 爆弾画像-300pxに調整 */
}

.flag {
  display: none; /* 初期状態では非表示 */
  width: 100%;
  height: 100%;
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -270px 0; /* 旗画像-270pxに調整 */
  background-size: cover;
}

.flagVisible {
  display: block;
}

.cellCount {
  width: 100%;
  height: 100%;
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-size: auto; /* 必要に応じて調整 */
}
