.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background-color: rgb(207 207 207);
  border: 1px solid black;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #ccc;
  border: 1px solid rgb(0 0 0);
}

.mineBoard {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background: url('~/src/assets/images/image.png') no-repeat;
  border: 1px solid black;
}

.coverCell {
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/imageCell.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mine {
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -300px 0; /* 爆弾画像の位置をX方向-300pxに調整 */
}

.revealed.mine {
  background: url('~/src/assets/images/image.png') no-repeat;
  background-position: -300px 0; /* 位置調整したい場合 */
}
