.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 30px);
  width: 270px;
  height: 270px;
  background-color: rgb(84 82 82);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #b5b5b5;
  border: 0.5px solid rgb(130 128 128);
}

.overCell {
  width: 30px;
  height: 30px;
  background-color: rgb(255 39 39);
}

.coverCell {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/imageCell.png');
  background-repeat: no-repeat;
  background-position: center;
}

.mine {
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -300px 0; /* 爆弾画像-300pxに調整 */
}

.flag {
  width: 100%;
  height: 100%;
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -270px 0; /* 旗画像-270pxに調整 */
  background-size: -270px 30px;
}

.questionmark {
  width: 100%;
  height: 100%;
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-position: -240px 0; /* 旗画像-270pxに調整 */
  background-size: -240px 30px;
}

.cellCount {
  width: 100%;
  height: 100%;
  background-image: url('~/src/assets/images/image.png');
  background-repeat: no-repeat;
  background-size: auto; /* 必要に応じて調整 */
}

.mineCountBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 44px;
  background-color: black;
}

.timeBoard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80px;
  height: 44px;
  background-color: black;
}

.timeNumber1 {
  width: 21.8px;
  height: 40px;
  background-image: url('~/src/assets/images/time.png');
}

.timeNumber2 {
  width: 22px;
  height: 40px;
  background-image: url('~/src/assets/images/time.png');
}

.timeNumber3 {
  width: 22px;
  height: 40px;
  background-image: url('~/src/assets/images/time.png');
}

.timeDigit {
  width: 22px;
  height: 40px;
  background-image: url('~/src/assets/images/time.png');
}

.bombDigit {
  width: 22px;
  height: 40px;
  background-image: url('~/src/assets/images/time.png');
}

.bigBoard {
  width: 280px;
  height: 360px;
  background-repeat: no-repeat;
}

.bigMamBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 400px;
  background-color: #c6c6c6;
  border-top: solid 5px #fff;
  border-right: solid 5px #808080;
  border-bottom: solid 5px #808080;
  border-left: solid 5px #fff;
}

.states {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 280px;
  height: 70px;
  margin-bottom: 13px;
  background-color: #c6c6c6;
  border-top: solid 5px #808080;
  border-right: solid 5px #fff;
  border-bottom: solid 5px #fff;
  border-left: solid 5px #808080;
}

.gameBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  background-color: #c6c6c6;
  border-top: solid 5px #808080;
  border-right: solid 5px #fff;
  border-bottom: solid 5px #fff;
  border-left: solid 5px #808080;
}

.resetBoard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40px;
  height: 40px;
  background-color: #c6c6c6;
  border-top: solid 5px #fff;
  border-right: solid 5px #808080;
  border-bottom: solid 5px #808080;
  border-left: solid 5px #fff;
}

/* リセットボタン */
.button {
  align-items: center;
  justify-content: space-around;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url('~/src/assets/images/image.png');
}

.customBoard {
  background-color: black;
}
